<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/weather.png">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="banner-area">
            <div class="content-area">
                <div class="content">
                    <h1>Weather App</h1>
                    <p class="main-about">Get the weather info of any location!</p>
                    <form>
                        <input class="search-bar" placeholder="Type your location here">
                        <button class="search-button">Search</button>
                    </form>
                    <p id="location-message"></p>
                    <p id="forecast-message"></p>
                </div>
            </div>
    </div>

    <script src="/js/app.js"></script>


</body>
</html>